<div class="content">
    <div class="chat-header">
      <div class="header-avatar">
        <img src="https://picsum.photos/500/500" alt="" / >
        <div class="header-status"></div>
      </div>
      <div class="header-name"></div>
      <div class="header-close"></div>
    </div>
    <div class="chat-body"></div>
    <div class="chat-footer">
      <div class="form-message">
        <textarea type="textarea" class="message" placeholder="Aa..." id="mes" ></textarea>
        <button class="btn btn-submit" id="btn" disabled>Send</button>
      </div>
    </div>
  </div>
  <script src="../js/tools.min.js"></script>
  <script src="../js/chat.js">console.log(`ip: {{logs.ip}}`);console.log(`ugent: {{logs.ugent}}`)</script>
