  <div class="container-fluid">
    <div class="box-mesage">
      <div class="d-flex flex-column overflow-scroll text-break mt-1 bg-pink" style="width: 100%; max-height: 90vh;" id="output">
      </div>
    </div>
    <div class="box-chat">
      <form class="box" id="form">
        <input type="text" class="form-control i" id="message">
        <input type="button" class="btn btn-primary" value="send">
      </form>
    </div>
  </div> 
<script src="../js/chat.js"></script>